<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
  <div id="mod-list">
    <span>
      <input v-model="modInput" placeholder="Enter Mod Code">
      <button v-on:click="addMod">+</button>
    </span>
    <ul>
      <li v-for="mod in mods">
        {{ mod.name }}
      </li>
    </ul>
  </div>

  <script>
    let modList = new Vue({
      el: '#mod-list',
      data: {
        modInput: '',
        mods: [
          { name: 'CS1101S'},        
          { name: 'MA1101R'},
          { name: 'MA1102R'}
        ]
      },
      methods: {
        addMod: function(){
          if (this.modInput !== '') {
            this.mods.push({name: this.modInput});
          }
        }
      }
    })

  </script>
</body>
</html>
